venv
automation/test.ipynb
automation/core/oauth_settings.yml
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
.DS_Store
.env
.env.*
*.log
.idea/
.vscode/
*.egg-info/
dist/
build/
*.bak
*.tmp
*.sqlite3
node_modules/
coverage/
*.cover
*.db
*.orig
*.rej
*.out
*.tar.gz
*.zip
*.egg
*.ipynb_checkpoints/
# End of