{% extends "base.html" %}
{% block content %}
<h1>Select Meeting Time Slots</h1>
<p>Please check all the time slots you are available for (multiple selections allowed), then click "Confirm and Schedule".</p>
<hr>
<form method="post">
  {% csrf_token %}
  <input type="hidden" name="pick_time_slots" value="1">
  <div class="form-group mb-3">
    {{ form.non_field_errors }}
    {{ form.time_slots.errors }}
    <fieldset>
      <legend class="col-form-label pt-0">Please select meeting time slots</legend>
      <div>
        {{ form.time_slots }}  {# Checkbox list #}
      </div>
    </fieldset>
  </div>
  <div class="text-center mt-3">
    <button class="btn btn-success" type="submit">Confirm and Schedule</button>
  </div>
</form>
{% endblock %}